.grid-container {
  display: grid;
  grid-template-columns: 6;
  grid-template-rows: 3;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.post-image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  vertical-align: middle;
}

.post-title {
  grid-column-start: 4;
  grid-column-end: 6;
  align-self: center;
}

.post-title-left {
  grid-column-start: 4;
  grid-column-end: 5;
  align-self: top;
}

.post-title-right {
  grid-column-start: 5;
  grid-column-end: 6;
  text-align: right;
}

.post-body {
  grid-column-start: 1;
  grid-column-end: 6;
  border-top: thin;
}
